.body {
  padding-top:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.body > h1 {
  font-size: 60px;
  color: #fff;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

.body > p {
  font-family: var(--font-text);
  max-width: 32rem;
  font-size: larger;
  color: darkgray;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .body{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    padding-top: 200px;
  }

  .body > h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .body > p {
    max-width: 20rem;
    font-size: 14px;
  }
}
